<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Revenue Engine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Question List -->
  <!-- row-ques -->
  <div class="row-ques" *ngIf="slide1">
    <h5>Do you have employees?</h5>
    <p>
      <ion-text (click)="yes1()">Yes</ion-text>/<ion-text (click)="no1()">No</ion-text>/<ion-text (click)="unKonwn1()">
        Unknown</ion-text>
    </p>

    <div *ngIf="q1">
      <h5>How many employees do you hire/replace eachyear?</h5>
      <ion-item class="ion-margin-bottom">
        <ion-label position="stacked">Enter No of employees</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <!-- <h2>Calculation</h2>
      <p>(Number of Employees) * ($1200) = <strong>Savings</strong></p> -->
      <ion-row>
        <ion-col class="ion-no-padding ion-text-right">
          <ion-button class="button-medium" color="primary" (click)="next1()">
            Next
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <!-- /row-ques -->

  <!-- row-ques -->
  <div class="row-ques" *ngIf="slide2">
    <h5>Were your business operations suspended in full orpartially at any point in 2020 due to COVID-19?</h5>
    <p>
      <ion-text (click)="yes2()">Yes</ion-text>/<ion-text (click)="no2()">No</ion-text>/<ion-text (click)="unKonwn2()">
        Unknown</ion-text>
    </p>

    <div *ngIf="q2">
      <h5>Did your gross receipts fall to less than 50% (ascompared to the same quarter in 2019) during anyquarter in
        2020?</h5>
      <ion-item class="ion-margin-bottom">
        <ion-label position="stacked">Enter No of Employees</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <!-- <h2>Calculation</h2>
      <p>(Number of Employees) * ($10000) = <strong>Savings</strong></p> -->
      <ion-row>
        <ion-col class="ion-no-padding ion-text-right">
          <ion-button class="button-medium" color="primary" (click)="next2()">
            Next
          </ion-button>
        </ion-col>
      </ion-row>
    </div>

  </div>
  <!-- /row-ques -->
  <!-- row-ques -->
  <div class="row-ques" *ngIf="slide3">
    <h5>Do you own any Commercial Property?</h5>
    <p>
      <ion-text (click)="yes3()">Yes</ion-text>/<ion-text (click)="no3()">No</ion-text>/<ion-text (click)="unKonwn3()">
        Unknown</ion-text>
    </p>
    <div *ngIf="q3">
      <h5>Did your gross receipts fall to less than 50% (ascompared to the same quarter in 2019) during anyquarter in
        2020?</h5>
      <ion-item class="ion-margin-bottom">
        <ion-label position="stacked">Total Construction/Purchase Cost $</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-label position="stacked">Total Renovation Cost $</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <!-- <h2>Calculation</h2>
      <p>Total Construction / Purchase Cost + Total Renovation Costs * 7.4% = <strong>Savings</strong></p>
      <p>Total Construction / Purchase Cost * 7.4% = <strong>Savings</strong></p> -->
      <ion-row>
        <ion-col class="ion-no-padding ion-text-right">
          <ion-button class="button-medium" color="primary" (click)="next3()">
            Next
          </ion-button>
        </ion-col>
      </ion-row>

    </div>


  </div>
  <!-- /row-ques -->
  <!-- row-ques -->
  <div class="row-ques" *ngIf="slide4">
    <h5>Have you completed more than $250K in renovations?</h5>
    <p>
      <ion-text (click)="yes4()">Yes</ion-text>/<ion-text (click)="no4()">No</ion-text>/<ion-text (click)="unKonwn4()">
        Unknown</ion-text>
    </p>
    <div *ngIf="q4">
      <ion-item class="ion-margin-bottom">
        <ion-label position="stacked">Total Renovation Cost $ </ion-label>
        <ion-input></ion-input>
      </ion-item>
      <!-- <h2>Calculation</h2>
      <p>Total Renovation Cost * 7.4% = <strong>Savings</strong></p> -->
      <ion-row>
        <ion-col class="ion-no-padding ion-text-right">
          <ion-button class="button-medium" color="primary" (click)="next4()">
            Next
          </ion-button>
        </ion-col>
      </ion-row>
    </div>


  </div>

  <!-- /row-ques -->
  <!-- row-ques -->
  <div class="row-ques" *ngIf="slide5">
    <h5>Are your property taxes more than $30K a year?</h5>
    <p>
      <ion-text (click)="yes5()">Yes</ion-text>/<ion-text (click)="no5()">No</ion-text>/<ion-text (click)="unKonwn5()">
        Unknown</ion-text>
    </p>

    <div *ngIf="q5">
      <ion-item class="ion-margin-bottom">
        <ion-label position="stacked">Annual Real + Property Taxes $</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <!-- <h2>Calculation</h2>
      <p>Annual Real + Property Taxes *16.7% = <strong>Savings</strong></p> -->
      <ion-row>
        <ion-col class="ion-no-padding ion-text-right">
          <ion-button class="button-medium" color="primary" (click)="next5()">
            Next
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>


  <!-- /row-ques -->
  <!-- row-ques -->
  <div class="row-ques" *ngIf="slide6">
    <h5>Is your workers comp premiums over $40K a year?</h5>
    <p>
      <ion-text (click)="yes6()">Yes</ion-text>/<ion-text (click)="no6()">No</ion-text>/<ion-text (click)="unKonwn6()">
        Unknown</ion-text>
    </p>

    <div *ngIf="q6">
      <ion-item>
        <ion-label position="stacked">Annual workers comp premium $</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-list radio-group>
        <ion-list-header>
          Are you self insured?
        </ion-list-header>
        <ion-item>
          <ion-label>Yes</ion-label>
          <ion-radio checked="true" value="yes"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio value="no"></ion-radio>
        </ion-item>
      </ion-list>
      <!-- <h2>Calculation</h2>
      <p>(Annual workers comp premiums) x 15% = <strong>Savings</strong></p> -->
      <ion-row>
        <ion-col class="ion-no-padding ion-text-right">
          <ion-button class="button-medium" color="primary" (click)="next6()">
            Next
          </ion-button>
        </ion-col>
      </ion-row>
    </div>

  </div>


  <!-- /row-ques -->
  <!-- row-ques -->
  <div class="row-ques" *ngIf="slide7">
    <h5>Do you spend $1MM or more annually onhealth insurance?</h5>
    <p>
      <ion-text (click)="yes7()">Yes</ion-text>/<ion-text (click)="no7()">No</ion-text>/<ion-text (click)="unKonwn7()">
        Unknown</ion-text>
    </p>

    <div *ngIf="q7">
      <ion-item class="ion-margin-bottom">
        <ion-label position="stacked">Enter amount paid last year in health insurance$ </ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-list radio-group>
        <ion-list-header>
          Choose whether you are
        </ion-list-header>
        <ion-item>
          <ion-label>Self-Insured</ion-label>
          <ion-radio checked="true" value="self-insured"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Fully-Funded</ion-label>
          <ion-radio value="fully-funded"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Level-Funded</ion-label>
          <ion-radio value="level-funded"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Directly-Contracted</ion-label>
          <ion-radio value="directly-contracted"></ion-radio>
        </ion-item>
      </ion-list>
      <h5>Do you have more than 100 lives (individualscovered) on your health plan?</h5>
      <p>
        <ion-text>Yes</ion-text>/<ion-text>No</ion-text>
      </p>
      <!-- <h2>Calculation</h2>
      <p>See Spreadsheet titled Calculations beginning on line 61</p> -->
      <ion-row>
        <ion-col class="ion-no-padding ion-text-right">
          <ion-button class="button-medium" color="primary" (click)="next7()">
            Next
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>



  <!-- /row-ques -->
  <!-- row-ques -->
  <div class="row-ques" *ngIf="slide8">
    <h5>Do you partner with a PEO firm?</h5>
    <p>
      <ion-text (click)="yes8()">Yes</ion-text>/<ion-text (click)="no8()">No</ion-text>/<ion-text (click)="unKonwn8()">
        Unknown</ion-text>
    </p>

    <div *ngIf="q8">
      <ion-item class="ion-margin-bottom">
        <ion-label position="stacked">Number of “current” employees</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <!-- <h2>Calculation</h2>
      <p>See Spreadsheet titles Calculations, Line 45.</p> -->
      <ion-row>
        <ion-col class="ion-no-padding ion-text-right">
          <ion-button class="button-medium" color="primary" (click)="next8()">
            Next
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>



  <!-- /row-ques -->
  <!-- row-ques -->
  <div class="row-ques" *ngIf="slide9">
    <h5>Is your waste or recycling over $300 amonth?</h5>
    <p>
      <ion-text (click)="yes9()">Yes</ion-text>/<ion-text (click)="no9()">No</ion-text>/<ion-text (click)="unKonwn9()">
        Unknown</ion-text>
    </p>

    <div *ngIf="q9">
      <ion-item class="ion-margin-bottom">
        <ion-label position="stacked">Monthly Waste and Recycling Expenses $</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <!-- <h2>Calculation</h2>
      <p>Input (Monthly Waste and Recycling Expenses) x 15% = Savings*12=total <strong>savings</strong></p> -->
      <ion-row>
        <ion-col class="ion-no-padding ion-text-right">
          <ion-button class="button-medium" color="primary" (click)="next9()">
            Next
          </ion-button>
        </ion-col>
      </ion-row>
    </div>

  </div>



  <!-- /row-ques -->
  <!-- row-ques -->
  <div class="row-ques" *ngIf="slide10">
    <h5>Do you take credit cards?</h5>
    <p>
      <ion-text (click)="yes10()">Yes</ion-text>/<ion-text (click)="no10()">No</ion-text>/<ion-text
        (click)="unKonwn10()">Unknown</ion-text>
    </p>

    <div *ngIf="q10">
      <ion-item>
        <ion-label position="stacked">Estimated Annual Amount Processed $</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-list radio-group>
        <ion-list-header>
          Majority transactions
        </ion-list-header>
        <ion-item>
          <ion-label>Swiped</ion-label>
          <ion-radio checked="true" value="swiped"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Not Swiped</ion-label>
          <ion-radio value="not-swiped"></ion-radio>
        </ion-item>
      </ion-list>
      <!-- <h2>Calculation</h2>
      <p>Input (estimated annual processed) x 0.6% = <strong>savings</strong></p> -->
      <ion-row>
        <ion-col class="ion-no-padding ion-text-right">
          <ion-button class="button-medium" color="primary" (click)="next10()">
            Next
          </ion-button>
        </ion-col>
      </ion-row>
    </div>

  </div>


  <!-- /row-ques -->
  <!-- /Question List -->
</ion-content>

<ion-footer class="footer-tab">
  <ion-toolbar color="primary">
    <ion-button color="primary">
      <ion-label><img class="icon" src="assets/images/home-white.png" alt="Home"><span>Home</span></ion-label>
    </ion-button>
    <ion-button color="primary">
      <ion-label><img class="icon" src="assets/images/user-white.png" alt="User"><span>Profile</span></ion-label>
    </ion-button>
    <ion-button color="primary">
      <ion-label><img class="icon" src="assets/images/settings-white.png" alt="Settings"><span>Settings</span>
      </ion-label>
    </ion-button>
  </ion-toolbar>
</ion-footer>