
<ion-content class="ion-padding">
  <div class="logo ion-text-center ion-margin-bottom">
    <img src="assets/images/logo.png" alt="Review Engine">
  </div>
<ion-grid>
  <div class="inner-content">
    <div class="video-box">
      <video id="sampleVideo" autoplay></video>
    </div>
    <ion-row>
      <ion-col size="12" class="ion-padding ion-text-center">
        <ion-button class="button-outline"  (click)="skipVideo()">
          Get Started
        </ion-button>
      </ion-col>
    </ion-row> 
  </div>
</ion-grid>
</ion-content>
















<!-- <ion-content class="ion-padding">
  <div class="logo ion-text-center ion-margin-bottom">
    <img src="assets/images/logo.png" alt="Review Engine">
  </div>
  <ion-grid>
    <div class="inner-content">
      <div class="video-box">
        <video id="sampleVideo" autoplay></video>
      </div>
      <ion-row>
        <ion-col size="12" class="ion-padding ion-text-center">
          <ion-button class="button-outline" (click)="skipVideo()">
            Get Started
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content> -->



<!-- <ion-content>
  <video id="mainVideo" fullscreen="fullscreen" autoplay src="assets/background-video/Revenue_Engine_Demo.mp4"
    type="video/mp4"></video>


  <video id="sampleVideo" fullscreen="fullscreen" autoplay></video>

</ion-content>
<ion-footer>
  <ion-toolbar color="light">
    <ion-row>
      <ion-col size="12" class="ion-padding ion-text-right">
        <ion-button color="primary" (click)="skipVideo()">
          Let's go
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer> -->






