<!-- <ion-header>
  <p>Video landing</p>
</ion-header> -->

<!-- <ion-content force-overscroll="false"> -->
<!-- 
  <gl-background-video src="assets/background-video/Revenue_Engine_Demo.mp4" muted="false">
  </gl-background-video> -->
<!-- <video autoplay loop src="assets/background-video/Revenue_Engine_Demo.mp4"></video>
  <ion-button class="button-medium" color="primary" class="ion-color-primary" (click)="skipVideo">
    Go In
  </ion-button> -->

<!-- </ion-content> -->


<ion-content>
  <video autoplay loop src="assets/background-video/Revenue_Engine_Demo.mp4"></video>

</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row>
      <ion-col size="12" class="ion-no-padding ion-text-right">
        <ion-button color="primary" (click)="skipVideo()">
          Go In
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>