<ion-content class="bg-gray-light">
  <div class="page-content">
    <form action="" class="form">
      <div class="logo ion-text-center ion-margin-bottom">
        <img src="assets/images/logo.png" alt="Review Engine">
      </div>
      <ion-row>
        <ion-col class="ion-text-center">
          <h2>Sign In</h2>
        </ion-col>
      </ion-row>
      <ion-list>
        <ion-item>
          <ion-label>
            <ion-icon name="mail-outline"></ion-icon>
          </ion-label>
          <ion-input type="email" name="email" class="form-control" placeholder='e.g. abc@gmail.com'>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon name="key-outline"></ion-icon>
          </ion-label>
          <ion-input type="password" name="password" class="form-control" placeholder='Password'>
          </ion-input>
        </ion-item>
      </ion-list>
      <ion-row>
        <ion-col size="12" class="ion-text-right">
          <p>Forgot Password?</p>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-margin-bottom">
        <ion-col size="12" class="ion-no-padding">
          <ion-button expand="block" color="primary">
            Log In
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <p>If you don't have an account, please <a (click)=" gotosignup()">
              register</a> first!</p>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>