<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-image: url(assets/images/banner.jpg)" class="ion-padding">
  <ion-grid class="ion-text-center ion-padding-vertical">
    <div class="logo">
      <img src="assets/images/logo.png" alt="Revenue Engine">
    </div>
    <h1>Never Leave Money on The Table</h1>
    <p>The Revenue Engine APP is a Savings APP that allows users to quickly calculate their potential tax incentive
      savings and service provider fee reductions using simple math functions. The APP is geared to businesses in the
      U.S.</p>
      <br />
      <ion-button class="button-medium" color="primary" class="ion-color-primary">
        Let's Go
      </ion-button>
  </ion-grid>
</ion-content>