<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Revenue Engine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Industry List -->
  <ion-list>
    <ion-list-header class="bg-gray-light"> 
      Select Industry
    </ion-list-header>
    <ion-item><ion-label><ion-icon name="bed-outline"></ion-icon>Hotel</ion-label></ion-item>
    <ion-item><ion-label><ion-icon name="person-circle-outline"></ion-icon>Accounting / CPA</ion-label></ion-item>
    <ion-item><ion-label><ion-icon name="home-outline"></ion-icon>Funeral Home</ion-label></ion-item>
    <ion-item><ion-label><ion-icon name="cart-outline"></ion-icon>Grocery Store</ion-label></ion-item>
    <ion-item><ion-label><ion-icon name="settings-outline"></ion-icon>Manufacturing</ion-label></ion-item>
    <ion-item><ion-label><ion-icon name="school-outline"></ion-icon>Architectural Engineering</ion-label></ion-item>
    <ion-item><ion-label><ion-icon name="bus-outline"></ion-icon>Auto Dealership</ion-label></ion-item>
    <ion-item><ion-label><ion-icon name="add-outline"></ion-icon>Medical</ion-label></ion-item>
    <ion-item><ion-label><ion-icon name="walk-outline"></ion-icon>Health Insurance</ion-label></ion-item>
    <ion-item><ion-label><ion-icon name="person-add-outline"></ion-icon>Staffing</ion-label></ion-item>
    <ion-item><ion-label><ion-icon name="podium-outline"></ion-icon>PEO Firms</ion-label></ion-item>
    <ion-item><ion-label><ion-icon name="hammer-outline"></ion-icon>Commercial Construction</ion-label></ion-item>
    <ion-item><ion-label><ion-icon name="restaurant-outline"></ion-icon>Restaurants</ion-label></ion-item>
    <ion-item><ion-label><ion-icon name="person-add-outline"></ion-icon>Strategic Partnership</ion-label></ion-item>
    <ion-item><ion-label><ion-icon name="desktop-outline"></ion-icon>Software/IT</ion-label></ion-item>
    <ion-item><ion-label><ion-icon name="information-circle-outline"></ion-icon>Other</ion-label></ion-item>
    <ion-item><ion-label><ion-icon name="trash-bin-outline"></ion-icon>Bio Tech / Bio Med</ion-label></ion-item>
  </ion-list>
  <!-- /Industry List -->
</ion-content>
